build/
.vscode
ext/
ramulator2
*.so
autobuild.sh
cputraces
prac_study/
script/sim_scripts/**/run_scripts
script/sim_scripts/**/run_SC_scripts
script/stats/arxiv/
script/stats/prac_timing/
TPRAC_ISCA2025/
perf_attack_traces/traces/
script/sim_scripts/traces/
script/sim_scripts/timing_overhead/
script/sim_scripts/timing_channel/
script/sim_scripts/prac_timing/
script/sim_scripts/TPRAC/
cript/sim_scripts/run_singlecore_varying_channel.py
script/sim_scripts/qprac_run/
script/sim_scripts/**/*.pyc
script/plot_scripts/prac_timing/
script/plots/prac_timing/
rh_study/
perf_comparison/


baseline*
*log*
*.count
*.ch*

*results*
*build*

!build.sh


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app